<style>
.stretchy{
    zoom: 2; 
    display: block;
    margin: auto;
    height: auto;
    max-height: 100%;
    width: auto;
    max-width: 100%;
}
</style>
<div class="card" style="padding-bottom:20px;">    
    <header class="card-header">
        <a class="card-header-title" href="https://www.foxdeploy.com">Stephen Owen's Blog</a>
    </header>
    
    <div class="card-content">
        <div class="content">
            <a href="/about">
                <img src="/assets/images/meHead.webp" title="A picture of a smiling Stephen / FoxDeploy at the Microsoft Ignite Conference" loading="lazy" >
            </a>
        </div>
        <div class="has-text-centered">            
            <a href="https://www.twitter.com/FoxDeploy" title="Depicts the twitter bird icon"><span class="icon-twitter" style="font-size: x-large;"></span></a>
            <a href="https://www.github.com/1RedOne" title="Depicts the Github logo icon"><span class="icon-github" style="font-size: x-large;"></span></a>
            <a href="https://stackoverflow.com/users/1238413/foxdeploy" title="Depicts the stackoverflow icon"><span class="icon-stack-exchange" style="font-size: x-large;"></span></a>
        </div>
    </div>    
</div>
<br>
<div class="card" style="padding-top:20px;">    
    <header class="card-header">
        <div class="card-header-title">Microsoft MVP</a>
    </header>
    
    <div class="card-content">
        <div class="content">
            <img src="/assets/images/mvpLogo.webp" title="Depicts text 'Microsoft MVP'" >
            <p></p><p>
                Five time Microsoft MVP, and now I work for the mothership
            </p><p></p>
        </div>        
    </div>    
</div>


<br>
<div class="card" style="padding-top:20px;">    
    <header class="card-header">
        <div class="card-header-title">Need Help?</a>
    </header>
    
    <div class="card-content">
        <div class="content">
            <p>Get help much faster on our new dedicated Subreddit!<br>
                <br>
                <a href="https://reddit.com/r/foxdeploy" title="This link takes you to the Reddit subform for this site"><img src="/assets/images/foxdeploySubreddit.png" alt="depicts a crowd of people in a night club with colored lights and says 'join the foxdeploy subrreddit today'" width="320" height="70" loading="lazy"></a><br>
                </a></p>                
        <p></p>
        </div>        
    </div>    
</div>

<br>
<div class="card" style="padding-top:20px;">    
    <header class="card-header">
        <div class="card-header-title">Blog Series</a>
    </header>
    
    <div class="card-content">
        <div class="content">
            <a href="/series/LearningDSC"><img src="/series/images/series_dscsidebar.webp" alt="series_sml_IntroToDsc" width="320" height="70" loading="lazy"></a><br>
            <a href="/series/LearningGUIs"><img src="/series/images/series_gui.webp" alt="series_sml_PowerShellGUI" width="320" height="106" class="alignnone size-large wp-image-2231" loading="lazy" ></a>
            <a href="/series/LearningRaspberryPi"><img src="/series/images/series_iot.webp" width="320" height="70" class="alignnone size-large wp-image-2231" alt="series_sml_IntroToRaspberryPi Programming" scale="0" loading="lazy" ></a>
            <a href="/series/LearningWinRM"><img src="/series/images/series_winrm.webp" width="320" height="70" class="alignnone size-large wp-image-2231" alt="series_sml_IntroToWindows Remote Management Series" scale="0" loading="lazy" ></a>
            <a href="/series/LearningSCCM"><img src="/series/images/series_sccm.webp" width="320" height="70" class="alignnone size-large wp-image-2231" alt="The Logo for System Center Configuration Manager is displayed here" scale="0" loading="lazy" ></a>
            <a href="/series/powershell-autocompletion"><img src="/series/images/series_autocomplete.webp" width="320" height="70" class="alignnone size-large wp-image-2231" alt="Depicts a road sign saying 'Learning PowerShell Autocomplete'" scale="0" loading="lazy" ></a>            
</p>
        </div>        
    </div>    
</div>

<br>
<div class="card" style="padding-top:20px;">    
    <header class="card-header">
        <div class="card-header-title">Speaking Engagements</a>
    </header>
    
    <div class="card-content">
        <div class="content">
            <a href="../about/speakingandmedia">
                <img src="../assets/images/mms180x150_adjazza.webp" width=100% class="stretchy" title="depics the MMS Jazz Logo of a man playing trumpet in New Orleans">
                <p>Conference schedule & recordings</p>
            </a>
        </div>        
    </div>    
</div>

<br>
<div class="card" style="padding-top:20px;">    
    <header class="card-header">
        <div class="card-header-title">Top Posts and Pages</a>
    </header>
    
    <div class="card-content">
        <div class="content">
            <img src="../assets/images/confusedFox.webp" title="shows a fox with a poignant and curious expression">
            <ul>				
                <li>
                    <a href="https://foxdeploy.com/2015/04/10/part-i-creating-powershell-guis-in-minutes-using-visual-studio-a-new-hope/" class="bump-view" data-bump-view="tp">Part I - Creating PowerShell GUIs in Minutes using Visual Studio - A New Hope</a>
                </li>
                <li>
                    <a href="https://foxdeploy.com/2017/03/30/extracting-and-monitoring-web-content-with-powershell/" class="bump-view" data-bump-view="tp">Extracting and monitoring web content with PowerShell</a>
                </li>
                <li>
                    <a href="https://foxdeploy.com/2015/04/16/part-ii-deploying-powershell-guis-in-minutes-using-visual-studio/" class="bump-view" data-bump-view="tp">Part II - Deploying PowerShell GUIs in Minutes using Visual Studio</a>
                </li>
                <li>
                    <a href="https://foxdeploy.com/series/LearningGUIs/" class="bump-view" data-bump-view="tp">Learning GUI Toolmaking Series</a>
                </li>
                <li>
                    <a href="https://foxdeploy.com/2017/08/04/mdm-errors-failures-and-how-to-fix-them/" class="bump-view" data-bump-view="tp">MDM errors failures and how to fix them</a>
                </li>
            </ul>
            <a href="/tagsList" class="button">Posts by Tag</a>
            <a href="/archives" class="button">Archives</a>
            <a href="/feed.xml" class="button"><span class="icon-rss"></span> RSS</a>        
        </div>        
    </div>    
</div>

<br>
<div class="card" style="padding-top:20px;">    
    <header class="card-header">
        <div class="card-header-title">Blog Stats</a>
    </header>
    
    <div class="card-content">
        <div class="content">            
            <div id='blogHits'></div>
            <!-- initial value at migration was 2,065,292 -->
            <Script>
var xhr = new XMLHttpRequest();
xhr.open("GET", "https://api.countapi.xyz/hit/foxdeployhits");
xhr.responseType = "json";
xhr.onload = function() {
    document.getElementById('blogHits').innerText = this.response.value.toLocaleString('en') + ' hits';
    console.log("total hits " + this.response.value.toLocaleString('en'));
}
xhr.send();

</Script>
<p></p>
        </div>        
    </div>    
</div>

<br>






<!-- <div class="card"> -->
    
    <!-- <header class="card-header"> -->
        <!-- <a class="card-header-title" href="/blog/welcome-to-jekyll.html">Microsoft MVP</a> -->
    <!-- </header> -->
    
    <!-- <div class="card-content"> -->
        <!-- <div class="content"> -->
            <!-- <img src="assets/images/microsoft-mvp.gif"> -->
            <!-- <p></p><p>Five time Microsoft MVP, and now I work for the mothership</p> -->

<!-- <p></p> -->
        <!-- </div> -->
        <!-- <div class="has-text-centered"> -->
            <!-- <a href="/blog/welcome-to-jekyll.html" class="button is-primary">Read more</a> -->
        <!-- </div> -->
    <!-- </div> -->
    <!-- <footer class="card-footer"> -->
        <!-- <p class="card-footer-item">Published: Feb 16, 2021</p> -->
    <!-- </footer> -->
<!-- </div> -->


</style>
