<style>
.stretchy{
    zoom: 2; 
    display: block;
    margin: auto;
    height: auto;
    max-height: 100%;
    width: auto;
    max-width: 100%;
}
</style>
<div class="card" style="padding-bottom:20px;">    
    <header class="card-header">
        <a class="card-header-title" href="https://www.foxdeploy.com">Stephen Owen's Blog</a>
    </header>
    
    <div class="card-content">
        <div class="content">
            <a href="/about">
                <img src="/assets/images/meHead.webp">
            </a>
        </div>
        <div class="has-text-centered">            
            <a href="https://www.twitter.com/FoxDeploy"><i class="fab fa-twitter fa-lg"></i></a>
            <a href="https://www.github.com/1RedOne"><i class="fab fa-github fa-lg"></i></a>
            <a href="https://stackoverflow.com/users/1238413/foxdeploy"><i class="fab fa-stack-overflow fa-lg"></i></a>            
        </div>
    </div>    
</div>
<br>
<div class="card" style="padding-top:20px;">    
    <header class="card-header">
        <div class="card-header-title">Microsoft MVP</a>
    </header>
    
    <div class="card-content">
        <div class="content">
            <img src="/assets/images/microsoft-mvp.gif">
            <p></p><p>
                Five time Microsoft MVP, and now I work for the mothership
            </p><p></p>
        </div>        
    </div>    
</div>


<br>
<div class="card" style="padding-top:20px;">    
    <header class="card-header">
        <div class="card-header-title">Need Help?</a>
    </header>
    
    <div class="card-content">
        <div class="content">
            <p>Get help much faster on our new dedicated Subreddit!<br>
                <br>
                <a href="https://reddit.com/r/foxdeploy"><img src="/assets/images/foxdeploySubreddit.png" alt="depicts a crowd of people in a night club with colored lights and says 'join the foxdeploy subrreddit today'" width="320" height="70"></a><br>                
                </a></p>                
        <p></p>
        </div>        
    </div>    
</div>

<br>
<div class="card" style="padding-top:20px;">    
    <header class="card-header">
        <div class="card-header-title">Blog Series</a>
    </header>
    
    <div class="card-content">
        <div class="content">
            <a href="/series/learningDSC"><img src="/series/images/series_dscsidebar.webp" alt="series_sml_IntroToDsc" width="320" height="70"></a><br>
            <a href="/series/LearningGUIs"><img src="/series/images/series_gui.webp" alt="series_sml_PowerShellGUI" width="320" height="106" class="alignnone size-large wp-image-2231"></a>
            <a href="/series/learningRaspberryPi"><img src="/series/images/series_iot.webp" width="320" height="70" class="alignnone size-large wp-image-2231" alt="series_sml_IntroToRaspberryPi Programming" scale="0"></a>
            <a href="/series/learningWinRM"><img src="/series/images/series_winrm.webp" width="320" height="70" class="alignnone size-large wp-image-2231" alt="series_sml_IntroToWindows Remote Management Series" scale="0"></a>
            <a href="/series/learningSCCM"><img src="/series/images/series_sccm.png" width="320" height="70" class="alignnone size-large wp-image-2231" alt="The Logo for System Center Configuration Manager is displayed here" scale="0"></a>
</p>
        </div>        
    </div>    
</div>

<br>
<div class="card" style="padding-top:20px;">    
    <header class="card-header">
        <div class="card-header-title">Speaking Engagements</a>
    </header>
    
    <div class="card-content">
        <div class="content">
            <a href="../about/speakingandmedia">
            <img src="../assets/images/mms180x150_adjazza.png" width=100% class="stretchy">
            <p></p><p>Conference schedule & recordings</p>
        </a>
<p></p>
        </div>        
    </div>    
</div>

<br>
<div class="card" style="padding-top:20px;">    
    <header class="card-header">
        <div class="card-header-title">Top Posts and Pages</a>
    </header>
    
    <div class="card-content">
        <div class="content">
            <img src="../assets/images/confusedFox.webp">
            <p></p><p>I definitely forget to change this content</p>
            <a href="/tagsList" class="button">Posts by Tag</a>
            <a href="/archives" class="button">Archives</a>

<p></p>
        </div>        
    </div>    
</div>

<br>
<div class="card" style="padding-top:20px;">    
    <header class="card-header">
        <div class="card-header-title">Blog Stats</a>
    </header>
    
    <div class="card-content">
        <div class="content">            
            <div id='blogHits'></div>
            <!-- initial value at migration was 2,065,292 -->
            <Script>
var xhr = new XMLHttpRequest();
xhr.open("GET", "https://api.countapi.xyz/hit/foxdeployhits");
xhr.responseType = "json";
xhr.onload = function() {
    document.getElementById('blogHits').innerText = this.response.value.toLocaleString('en') + ' hits';
    console.log("total hits " + this.response.value.toLocaleString('en'));
}
xhr.send();

</Script>
<p></p>
        </div>        
    </div>    
</div>

<br>






<!-- <div class="card"> -->
    
    <!-- <header class="card-header"> -->
        <!-- <a class="card-header-title" href="/blog/welcome-to-jekyll.html">Microsoft MVP</a> -->
    <!-- </header> -->
    
    <!-- <div class="card-content"> -->
        <!-- <div class="content"> -->
            <!-- <img src="assets/images/microsoft-mvp.gif"> -->
            <!-- <p></p><p>Five time Microsoft MVP, and now I work for the mothership</p> -->

<!-- <p></p> -->
        <!-- </div> -->
        <!-- <div class="has-text-centered"> -->
            <!-- <a href="/blog/welcome-to-jekyll.html" class="button is-primary">Read more</a> -->
        <!-- </div> -->
    <!-- </div> -->
    <!-- <footer class="card-footer"> -->
        <!-- <p class="card-footer-item">Published: Feb 16, 2021</p> -->
    <!-- </footer> -->
<!-- </div> -->


</style>
