<div class="card" style="padding-bottom:20px;">    
    <header class="card-header">
        <a class="card-header-title" href="https://www.foxdeploy.com">Stephen Owen's Blog</a>
    </header>
    
    <div class="card-content">
        <div class="content">
            <img src="/assets/images/meHead.jpg">                    
        </div>
        <div class="has-text-centered">
            <a href="/about" class="button is-primary">About me...</a>
        </div>
    </div>    
</div>
<br>
<div class="card" style="padding-top:20px;">    
    <header class="card-header">
        <div class="card-header-title">Microsoft MVP</a>
    </header>
    
    <div class="card-content">
        <div class="content">
            <img src="/assets/images/microsoft-mvp.gif">
            <p></p><p>
                Five time Microsoft MVP, and now I work for the mothership
            </p><p></p>
        </div>        
    </div>    
</div>


<br>
<div class="card" style="padding-top:20px;">    
    <header class="card-header">
        <div class="card-header-title">Need Help?</a>
    </header>
    
    <div class="card-content">
        <div class="content">
            <p>Get help much faster on our new dedicated Subreddit!<br>
                Click the banner to join us<br>
                <a href="https://reddit.com/r/foxdeploy"><img src="/assets/images/foxdeploySubreddit.png" alt="depicts a crowd of people in a night club with colored lights and says 'join the foxdeploy subrreddit today'" width="320" height="70"></a><br>                
                </a></p>                
        <p></p>
        </div>        
    </div>    
</div>

<br>
<div class="card" style="padding-top:20px;">    
    <header class="card-header">
        <div class="card-header-title">Blog Series</a>
    </header>
    
    <div class="card-content">
        <div class="content">
            <a href="/series/learningDSC"><img src="/series/images/series_dscsidebar.png" alt="series_sml_IntroToDsc" width="320" height="70"></a><br>
            <a href="/series/LearningGUIs"><img src="/series/images/series_gui.png" alt="series_sml_PowerShellGUI" width="320" height="106" class="alignnone size-large wp-image-2231" srcset="https://foxdeploy.files.wordpress.com/2016/09/gui.png?w=320&amp;zoom=2 2x" scale="2"></a>
            <a href="/series/learningRaspberryPi"><img src="/series/images/series_iot.png" width="320" height="70" class="alignnone size-large wp-image-2231" alt="series_sml_IntroToRaspberryPi Programming" scale="0"></a>
            <a href="/series/learningWinRM"><img src="/series/images/series_winrm.png" width="320" height="70" class="alignnone size-large wp-image-2231" alt="series_sml_IntroToWindows Remote Management Series" scale="0"></a>
            <a href="/series/learningSCCM"><img src="/series/images/series_sccm.png" width="320" height="70" class="alignnone size-large wp-image-2231" alt="The Logo for System Center Configuration Manager is displayed here" scale="0"></a>
</p>
        </div>        
    </div>    
</div>

<br>
<div class="card" style="padding-top:20px;">    
    <header class="card-header">
        <div class="card-header-title">Speaking Engagements</a>
    </header>
    
    <div class="card-content">
        <div class="content">
            <img src="../assets/images/confusedDog.gif">
            <p></p><p>I definitely forget to change this content</p>

<p></p>
        </div>        
    </div>    
</div>

<br>
<div class="card" style="padding-top:20px;">    
    <header class="card-header">
        <div class="card-header-title">Top Posts and Pages</a>
    </header>
    
    <div class="card-content">
        <div class="content">
            <img src="../assets/images/confusedFox.gif">
            <p></p><p>I definitely forget to change this content</p>

<p></p>
        </div>        
    </div>    
</div>

<br>
<div class="card" style="padding-top:20px;">    
    <header class="card-header">
        <div class="card-header-title">Blog Stats</a>
    </header>
    
    <div class="card-content">
        <div class="content">
            <img src="../assets/images/confusedDog.gif">
            <p></p><p>I definitely forget to change this content</p>

<p></p>
        </div>        
    </div>    
</div>

<br>
<div class="card" style="padding-top:20px;">    
    <header class="card-header">
        <div class="card-header-title">Twitter Widget</a>
    </header>
    
    <div class="card-content">
        <div class="content">
            <a class="twitter-timeline" href="https://twitter.com/FoxDeploy" data-tweet-limit="2" data-width="399" ></a>
            <a href="https://twitter.com/intent/tweet?screen_name=FoxDeploy&ref_src=twsrc%5Etfw" class="twitter-mention-button" data-show-count="false">Tweet to me! @FoxDeploy</a>
            <script async src="http://platform.twitter.com/widgets.js" charset="utf-8"></script>
<p></p>
        </div>        
    </div>    
</div>


<br>
<div class="card" style="padding-top:20px;">    
    <header class="card-header">
        <div class="card-header-title">Need Help?</a>
    </header>
    
    <div class="card-content">
        <div class="content">
            <p>Get help much faster (and help each other) on our new dedicated Subreddit!<br>
                Click the fox to join us! <a href="https://reddit.com/r/foxdeploy"><br>
                <img src="https://foxdeploy.files.wordpress.com/2017/06/redditfox.png" alt="The logo of the Reddit alien is depicted" scale="0"><br>
                </a></p>
                <h4>Reddit.com/R/FoxDeploy</h4>
                <h2 class="widget-title">StackExchange</h2>
                <p><a href="https://stackexchange.com/users/1285187"><br>
                <img src="https://stackexchange.com/users/flair/1285187.png" alt="the logo of Stack Exchange is displayed" scale="0"><br>
                </a></p>

<p></p>
        </div>        
    </div>    
</div>

<!-- <div class="card"> -->
    
    <!-- <header class="card-header"> -->
        <!-- <a class="card-header-title" href="/blog/welcome-to-jekyll.html">Microsoft MVP</a> -->
    <!-- </header> -->
    
    <!-- <div class="card-content"> -->
        <!-- <div class="content"> -->
            <!-- <img src="assets/images/microsoft-mvp.gif"> -->
            <!-- <p></p><p>Five time Microsoft MVP, and now I work for the mothership</p> -->

<!-- <p></p> -->
        <!-- </div> -->
        <!-- <div class="has-text-centered"> -->
            <!-- <a href="/blog/welcome-to-jekyll.html" class="button is-primary">Read more</a> -->
        <!-- </div> -->
    <!-- </div> -->
    <!-- <footer class="card-footer"> -->
        <!-- <p class="card-footer-item">Published: Feb 16, 2021</p> -->
    <!-- </footer> -->
<!-- </div> -->


</style>
