<div class="card" style="padding-top:20px;">    
    <header class="card-header">
        <div class="card-header-title">Blog Series</a>
    </header>
    
    <div class="card-content">
        <div class="content">
            <a href="/series/LearningDSC"><img src="/series/images/series_dscsidebar.png" alt="series_sml_IntroToDsc" width="320" height="70"></a><br>
            <a href="/series/LearningGUIs"><img src="/series/images/series_gui.png" alt="series_sml_PowerShellGUI" width="320" height="106" class="alignnone size-large wp-image-2231" srcset="https://foxdeploy.files.wordpress.com/2016/09/gui.png?w=320&amp;zoom=2 2x" scale="2"></a>
            <a href="/series/LearningRaspberryPi"><img src="/series/images/series_iot.png" width="320" height="70" class="alignnone size-large wp-image-2231" alt="series_sml_IntroToRaspberryPi Programming" scale="0"></a>
            <a href="/series/LearningWinRM"><img src="/series/images/series_winrm.png" width="320" height="70" class="alignnone size-large wp-image-2231" alt="series_sml_IntroToWindows Remote Management Series" scale="0"></a>
            <a href="/series/LearningSCCM"><img src="/series/images/series_sccm.png" width="320" height="70" class="alignnone size-large wp-image-2231" alt="The Logo for System Center Configuration Manager is displayed here" scale="0"></a>
</p>
        </div>        
    </div>    
</div>
