<p><strong>Share</strong></p>
<div class="buttons {% if include.centered %} is-centered {% endif %}">
    <a class="button is-medium is-facebook"
       onclick="window.open('https://www.facebook.com/share.php?u={{ site.url }}{{ page.url | prepend: site.baseurl }}');"
       title="Share this post on Facebook">
       <span class="icon-facebook-f"></span>        
    </a>
    <a class="button is-medium is-twitter"
       onclick="window.open('https://twitter.com/intent/tweet?text={{ site.url }}{{ page.url | prepend: site.baseurl }}');"
       title="Share this post on Twitter">
       <span class="icon-twitter"></span>
    </a>
    <a class="button is-medium is-linkedin"
       onclick="window.open('https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url | prepend: site.baseurl }}&title={{ page.title | url_encode }}&summary=&source=');"
       title="Share this post on LinkedIn">
       <span class="icon-linkedin-square"></span>
    </a>
    <a class="button is-medium is-reddit"
       onclick="window.open('https://reddit.com/submit?url={{ site.url }}{{ page.url | prepend: site.baseurl }}');"
       title="Share this post on Reddit">
       <span class="icon-reddit"></span>
    </a>
</div>